<html>
    <head>
        <title>My first blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">My first Blog</a></h1>
        </div>

        <div>
            <p>published: 09.07.2019, 17:42</p>
            <h2><a href="">The Journey Begins</a></h2>
            <p>Thanks for joining me!</p>

        </div>

        <div>
            <p>Good company in a journey makes the way seem shorter. — Izaak Walton</p>
            <h2><a href="">My second post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
        </div>
    </body>
</html>