<html>
    <head>
        <title>My first blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">My first Blog</a></h1>
        </div>

        <div>
            <p>published: 09.07.2019, 17:42</p>
            <h2><a href="">The Journey Begins</a></h2>
            <p>Thanks for joining me!</p>

        </div>

        {% for post in posts %}
        <div>
            <p>published: {{ post.published_date }}</p>
            <h2><a href="">{{ post.title }}</a></h2>
            <p>{{ post.text|linebreaksbr }}</p>
        </div>
        {% endfor %}
    </body>
</html>